<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/LISTA_DE_EXERCICIOS_N1/src/br/com/Lista/EX_15.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="br.com.Lista.EX_15"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="LISTA_DE_EXERCICIOS_N1"/>
</launchConfiguration>
