<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Lista_PO2/Lista POO 2/src/br/com/Ex_03/CompraPrincipal.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="br.com.Ex_03.CompraPrincipal"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Lista_PO2"/>
</launchConfiguration>
